Library/
Temp/
.vscode/
Logs/
obj/
UserSettings/
Packages/
*.sln
*.csproj
*.sln
*.userprefs
*.unityproj
*.DS_Store
Brackeys
Ninja Files
Animations
Prefabs
Materials
Hero Knight - Pixel Art
BayatGames
Animations
Art
Pixel Adventure 1
Scenes
Tilemap
TextMesh Pro
Samples
parkourGame2D
GameWang
Pixel Adventure 2
COPY SPRIGHT
GameWang/Assets/Sprites/MaceView.cs
GameWang/.vsconfig
MyNinja/Assets/Sripts/Player.cs.meta
/MyNinja
/MyNinja
/GameWang/Assets/Sprites
